  /* For Nova Mono */
  @font-face {
    font-family: 'Nova Mono'; /* Different font-family name */
    src: url('../../public/fonts/NovaMono-Regular.ttf'); /* Add other formats */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* For Abril Fatface */
  @font-face {
    font-family: 'AbrilFatFace'; /* Different font-family name */
    src: local('AbrilFatFace'),
         url('../../public/fonts/AbrilFatface-Regular.ttf'); /* Add other formats */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Roboto */
  @font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
  }
  @font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
    font-style: italic;
  }

  /* Roboto */
  @font-face {
    font-family: Roboto Mono;
    src: url('../../public/fonts/RobotoMono-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: Roboto Mono;
    src: url('../../public/fonts/RobotoMono-Italic-VariableFont_wght.ttf');
    font-style: italic;
  }


  @media(max-width: 800px) {
    .home-grid {
      padding-top: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: auto;
    }   
    :root {
      background-color: #0e0d0d;
      color: white;
      font-family: Roboto Mono;
      opacity: 100%;
      max-width: 100%;
    }

    body {
      font-family: Roboto Mono;
      margin: 0px;
      width: 100%;
    }
    
    div {
      width: 100%;
      font-family: Roboto Mono;
    }
  }
  


:root {
    background-color: #0e0d0d;
    color: white;
    font-family: Roboto Mono;
    opacity: 100%;
    max-width: 100%;
}

body {
  font-family: Roboto Mono;
  margin: 0px;
}

div {
  
  font-family: Roboto Mono;
}

/* spans */
.dash {
  letter-spacing: -3px;
}

.background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 3%;
}




a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
    color:#ffffff;
    cursor: pointer;
    text-decoration: none;
}

.home-grid {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.section-header {
  font-size: 45px;
  font-weight: bold;
  font-family: Roboto;
  display: block;
  padding-bottom: 15px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.header-mobile.hidden {
  transform: translateX(0);
}


#backToTopBtn {
  display: block; 
  position: fixed; /* Fixed to the viewport */
  bottom: 10px;
  left: 50%;
  z-index: 99; /* Ensure it's on top of other elements */
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0.3; /* Slightly transparent */
  transition: opacity 0.3s ease-in-out;
}

#backToTopBtn:hover {
  opacity: 1; /* Fully opaque on hover */
}

#backToTopBtn svg {
  width: 1.2em;
  height: 1.2em;
  display: block; /* To center the SVG in the button */
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.anchor {
  z-index: 1000;
}

@media(max-width: 800px) {
  #backToTopBtn {
    display: none; 
  }
}
