@import "tailwindcss";

@font-face {
  font-family: 'MyCustomFont';
  src: url('../src/fonts/MazzardH-Black.otf') format('otf');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('../src/fonts/MazzardH-Black.otf') format('opentype');
}